<div class="mt-[250px] mb-[100px]">
    <div class="flex flex-col justify-center ">
        <img src="../../../../assets/footer-pattern.svg" alt="">
        <div class="flex flex-col items-center">
            <div class="flex justify-end items-center gap-[30px] md:gap-[100px] lg:gap-[260px]">
                <button><img src="../../../../assets/instagram.svg" alt=""></button>
                <button><img src="../../../../assets/facebook.svg" alt=""></button>
                <button><img src="../../../../assets/linkin.svg" alt=""></button>
                <button><img src="../../../../assets/beehance.svg" alt=""></button>

            </div>
        </div>

    </div>
</div>